.spreadsheet input {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
}

.spreadsheet input:hover {
    background-color: #eee;
}

.spreadsheet input:focus {
    background-color: #ccf;
}

.spreadsheet input:not(:focus) {
    text-align: right;
}

.spreadsheet table {
    border-collapse: collapse;
}

.spreadsheet td {
    border: 1px solid #999;
    padding: 0;
}

.spreadsheet tr:first-child td, td:first-child {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

.spreadsheet footer {
    font-size: 80%;
}
